In [1]:
from pathlib import Path

In [2]:
Path(__file__).resolve().parents[1]

NameError: name '__file__' is not defined

In [2]:
from pydantic import Field
from pydantic_settings import BaseSettings

In [ ]:
class Settings(BaseSettings):
    a: str = Field(...)
    b: str = Field(...)

print(Settings().model_dump())

In [ ]:
import yfinance as yf
import pandas as pd

def fetch_yahoo(ticker: str, start: str) -> pd.DataFrame:
    df = yf.download(ticker, start=start, progress=True)
    df = df.rename(columns=str.lower)
    df["ticker"] = ticker
    df = df.reset_index().rename(columns={"index": "date"})
    return df[["date", "ticker", "open", "high", "low", "close", "adj close", "volume"]]

In [2]:
TICKERS = ["ZC=F"]  # start with Corn; add "ZW=F", "ZS=F" later
START_DATE = "2010-01-01"

frames = []
for t in TICKERS:
    frames.append(fetch_yahoo(t, START_DATE))
data = pd.concat(frames).sort_values(["ticker", "date"])
    # out = RAW_DIR / f"prices_yahoo_{today_str()}.csv"
    # data.to_csv(out, index=False)
    # print(f"Wrote {out}, rows={len(data)}")
data

C:\Users\himan\AppData\Local\Temp\ipykernel_16436\3421852417.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, progress=True)
[*********************100%***********************]  1 of 1 completed

KeyError: "['date' 'adj close'] not in index"

In [25]:
df = yf.download(TICKERS[0], start=START_DATE, progress=True, auto_adjust=False)

df["ticker"] = TICKERS[0]
df = df.reset_index()
df = df.rename(columns=str.lower)
# df
df = df[["date", "ticker", "open", "high", "low", "close", "adj close", "volume"]]
df

[*********************100%***********************]  1 of 1 completed

Price        date ticker    open    high     low   close adj close  volume
Ticker                      zc=f    zc=f    zc=f    zc=f      zc=f    zc=f
0      2010-01-04   ZC=F  415.75  426.25  413.25  418.50    418.50  140553
1      2010-01-05   ZC=F  417.25  420.00  415.25  418.75    418.75   80967
2      2010-01-06   ZC=F  418.00  422.00  416.00  421.75    421.75   96453
3      2010-01-07   ZC=F  421.00  424.00  414.50  417.50    417.50  137395
4      2010-01-08   ZC=F  417.50  423.75  415.00  423.00    423.00  137395
...           ...    ...     ...     ...     ...     ...       ...     ...
3942   2025-09-10   ZC=F  401.00  401.25  395.50  397.25    397.25      57
3943   2025-09-11   ZC=F  398.25  399.00  396.75  399.00    399.00     120
3944   2025-09-12   ZC=F  402.50  405.25  398.50  399.00    399.00  363844
3945   2025-09-15   ZC=F  426.25  428.50  422.00  423.25    423.25  363844
3946   2025-09-16   ZC=F  423.00  431.25  423.00  429.00    429.00  158363

[3947 rows x 8 columns]

In [30]:
df[[('open','zc=f')]]

Price     open
Ticker    zc=f
0       415.75
1       417.25
2       418.00
3       421.00
4       417.50
...        ...
3942    401.00
3943    398.25
3944    402.50
3945    426.25
3946    423.00

[3947 rows x 1 columns]

In [34]:
df['open']

Ticker    zc=f
0       415.75
1       417.25
2       418.00
3       421.00
4       417.50
...        ...
3942    401.00
3943    398.25
3944    402.50
3945    426.25
3946    423.00

[3947 rows x 1 columns]

In [ ]:
df0 = pd.DataFrame(df[('open','zc=f')].iloc[0])
df0.transpose()

ValueError: DataFrame constructor not properly called!